<%- include('../partials/header') %>


<div class="show">


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <% users.badge.forEach(function(x) { %>
               <p href="<%= x.fullname %>" class="col card"><%= x.fullname %></p>
               <p href="<%= x.fullname %>" class="col card"><%= x.fullname %></p>
               <p href="<%= x.fullname %>" class="col card"><%= x.fullname %></p>
           <% }); %>
             </div>


    <h3>Under construction...</h3>

   <!--- ADD TEXT --->
   <% if (users === users) { %>
    <form action="/dbases/new" method="POST"> 
        <label>My Code Projects: </label>
        <br>
        <input placeholder="Badge inputs here" type="text" name="fullname">
        <button type="submit">ADD</button>
    </form>
<% } %>


  
        

 





<%- include('../partials/footer') %>