<%- include('../partials/header') %>

<h1>EDIT PAGE</h1>

<div class="profile">
    <!---NAME-->
    <h3><%= user.name %></h3>
    <!--- TEXT LIST--->
    <ul>
        <% user.aboutme.forEach(function(b) { %>
            <li class="line">
                <%= b.text %>



                <form action="/dbases/<%=b._id%>?_method=PUT" method="POST">
                    <input type="text" name="text">
                    <button type="submit">UPDATE</button>
                </form>



                <form action="/dbases/<%=b._id%>?_method=DELETE" method="POST">
                    <button type="submit">DELETE</button>
                </form>
            </li>

        <% }) %>
    </ul>  
    <!--- ADD TEXT --->
    <% if (user._id.equals(user && user._id)) { %>
        <form action="/dbases" method="POST"> 
            <label>My Code Projects: </label>
            <br>
            <input placeholder="Links here..." type="text" name="text">
            <button type="submit">ADD</button>
        </form>
</div>
    <% } %>    


<%- include('../partials/footer') %>