<%- include('../partials/header') %>


<div class="show">
    <h3><%= user.name %>'s Posts</h3>

    <!--- ADD TEXT --->
    <% if (user._id.equals(users && user._id)) { %>
        <form action="/dbases" method="POST"> 
            <input placeholder="New posts here..." type="text" name="text">
            <button class="btn-outline-success" type="submit">ADD</button>
        </form>
</div>
    <% } %>    

<% user.aboutme.forEach(function(b) { %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text"></p>
            <form action="/dbases/<%=b._id%>?_method=PUT" method="POST">
                <input type="text" name="text" placeholder="   <%= b.text %>">
                <button class="badge badge-info" type="submit">UPDATE</button>
            </form>
            <form action="/dbases/<%=b._id%>?_method=DELETE" method="POST">
                <button class="badge badge-danger" type="submit">DELETE</button>
            </form>
        </div>
    </div>
 <% }) %>



 

<%- include('../partials/footer') %>