<%- include('../partials/header') %>


<h1>SHOW PAGE</h1>
<div class="profile">
    <!--USERNAME-->
    <h1><%= user.name %></h1>
    
    <!--PIC-->

    <!--TEXT-->
    <% user.aboutme.forEach(function(b) { %>
        <li>
            <%- b.text %>
        </li>
    <% }) %>
    <br>
    
    <a href="/dbases/<%= user._id %>/edit">EDIT</a>
</div>


<%- include('../partials/footer') %>