<%- include('../partials/header') %>

 

<h3><%= users.name %>'s Profile</h3>




<div class="container"> 

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
 <% users.aboutme.forEach(function(b) { %>
    <a href="<%- b.text %>" class="col card"><%- b.text %></a>
<% }); %>
  </div>

  <% if (users._id.equals(user && user._id)) { %>
    <a href="/dbases/<%= user._id %>/edit">EDIT</a>
    <% } else { %>
  <% } %>
</div>

<%- include('../partials/footer') %>